/*****************************************************************************/
/* Screen resolution, default background */
body {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: top left no-repeat;
	/*background-color: rgba(0,138,175, 1.00);*/
}

body.test {
    overflow: scroll;
}

/* Page size. Sometimes page is smaller than fullscreen with a permanent navigation bar on the left */
div.page {
    width: 1280px;
    height: 720px;
    margin: 0;
    padding: 0;
	/*background-color: rgba(0,138,175, 1.00);*/
}

/*****************************************************************************/

/* logo */
div.logo, div.logo-large {
    background: url(../images/logo_small.png) top left no-repeat;
    width: 394px;
    height: 88px;
    display: block;
    float: left;
}

div.logo-small {
    background: url(../images/logo_small.png) bottom right no-repeat;
    width: 394px;
    height: 88px;
    display: block;
    float: left;
}

div.logo.topleft, div.logo-large.topleft {
    margin: 45px 0 0 525px;
}

div.logo-small.topleft {
    background: url(../images/logo_small.png) bottom right no-repeat;
	margin: 44px 0 0 32px;
}

div.logo-small.bottomright {
	background: url(../images/logo_small-color_home.png) bottom right no-repeat;
	width: 431px;
    height: 164px;
    margin: 545px 0 0 850px;
}

div.logo-small.topright {
	background: url(../images/logo_tiny-color.png) top right no-repeat;
    margin: 20px 0 0 980px;
}

div.logo-tiny {
    background: url(../images/logo_small.png) bottom right no-repeat;
    width: 210px;
    height: 47px;
    display: block;
    float: left;
}
div.logo-tiny.topleft {
    background: url(../images/logo_tiny.png) bottom right no-repeat;
	margin: 64px 0 0 32px;
}
div.discharge-text {
	position: absolute;
	font-size: 54px;
	font-weight: 600;
	display: block;
	left: 216px;
	top: 220px;
	text-align: center;
	width: 860px;
	line-height: 70px;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.60);
}

div.page-title {
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    display: block;
    text-align: center;
}

div.educ-downarrow {
    background: url(../images/arrow_down-ltblue.png) no-repeat;
    width: 32px;
    height: 32px;
    display: block;
    margin: 450px 0 0 480px;
    z-index: 1;
}

/*div.datetime {
	width: 420px;
	height: 30px;
	top: 106px;
	left: 822px;
	position: absolute;
	display: inline-block;
	float: left;
	text-align: right;
}

div.datetime text-small, p.datetime text-small {
	line-height: 28px;
	color: #04090E;
	font-weight: 600;
}*/

/*****************************************************************************/
/* Text */

/* Default text attributes white: #F0F4F5 
purple: #544c7d */
div, p, span, a {
	color: #FDFDFD;
	font-family: Arial, "Bitstream Vera Sans", sans-serif;
	font-weight: 700;
	font-size: 30px;
	font-style: normal;
}

span.textright {
	float: right;
	padding: 10px;
}

/* Text colors */
div.text-color-2, p.text-color-2, span.text-color-2, a.text-color-2 {
	color: #FFFF66;
}

div.text-color-3, p.text-color-3, span.text-color-3, a.text-color-3 {
    color: #104969;
}

div.text-color-4, p.text-color-4, span.text-color-4, a.text-color-4 {
    color: #000307;
    font-size: 30px;
    padding-left: 0px;
}

div.text-color-5, p.text-color-5, span.text-color-5, a.text-color-5 {
	color: #CEDEA5;
}

div.text-color-6, p.text-color-6, span.text-color-6, a.text-color-6 {
	color: #F5BDC6;
}

/* Text sizes */
div.text-xxsmall, p.text-xxsmall, span.text-xxsmall, a.text-xxsmall {
    font-size: 18px;
    font-weight: normal;
}

div.text-xsmall, p.text-xsmall, span.text-xsmall, a.text-xsmall {
	font-size: 22px;
	font-weight: bold;
	color: #B2D2E1;
	/* color: #F9D98B; */
	text-shadow: 3px 3px 6px rgba(0, 0, 0, 1.00);
}

div.text-small, p.text-small, span.text-small, a.text-small {
    font-size: 24px;
    font-weight: normal;
}

div.text-med, p.text-med, span.text-med, a.text-med {
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    letter-spacing: 1px;
}
div.text-med-title, p.text-med-title, span.text-med-title, a.text-med-title {
    font-size: 35px;
    line-height: 66px;
    font-weight: bold;
    letter-spacing: 1px;
}

span1 {	
	width: 75%;
    float: left;    
}	

span2 {	
	width: 25%;
    float: right;
    text-align: right;
}	

/* TEXT FOR EDUC LIBRARY AND BOOKMARKING VIDEOS*/

div.text-edtitles, p.text-edtitles, span.text-edtitles, a.text-edtitles {
	font-size: 38px;
	line-height: 46px;
	font-weight: bold;
	width: 400px;
	background-color: #173453;
	letter-spacing: 1px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	min-width: 400px;
}
div.text-edcateg, p.text-edcateg, span.text-edcateg, a.text-edcateg {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 40px;
	line-height: 50px;
	font-weight: bold;
	width: 510px;
	background-color: #8dc63f;
	letter-spacing: 1px;
	padding-left: 40px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 5px;
	min-width: 400px;
	color: #011320;
	text-shadow: 0 0;
} 

div.text-large, p.text-large, span.text-large, a.text-large {
    font-size: 56px;
    font-weight: 500;
    color: #F9F9F9;
    letter-spacing: 1px;
}

div.text-xlarge, p.text-xlarge, span.text-xlarge, a.text-xlarge {
    font-size: 38px;
    font-weight: bold;
}

div.text-xxlarge, p.text-xxlarge, span.text-xxlarge, a.text-xxlarge {
    font-size: 48px;
    font-weight: bold;
}

/* Text style overwrite */
div.text-bold, p.text-bold, span.text-bold, a.text-bold {
    font-weight: bold;
    font-style: normal;
}

div.text-regular, p.text-regular, span.text-regular, a.text-regular {
    font-weight: normal;
    font-style: normal;
}

div.text-italic, p.text-italic, span.text-italic, a.text-italic {
    font-weight: normal;
    font-style: italic;
}

/* Bullets */
ul li{
    list-style-type: disc;
    list-style-position: inside;
    padding: 0px 0px 0px 30px;
    text-indent: -30px;
	line-height: 32pt;	
}

/*****************************************************************************/
/* Buttons and links */
a {
    text-decoration: none;
    color: #F0F4F5;
}

a.active {
	/*background-color: rgba(85,152,93,1.00);*/
	background-color: #90B03E;
	/*border-radius: 6px;*/
}

a.button {
    background-color: #003768;
    /*border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;*/
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 0px;
    padding-bottom: 5px;
    color: #ffffff;
}

a.button.active {
	background-color: rgba(144,176,62,1.00);
}

a.button.color2 {
    background-color: #D54D00;
}

a.button.color3 {
    background-color: #01D0E2;
}

a.button-3:active, a.buttoncolor-3.active {
    background-color: #3399cc;
}

/* special shapes */

.arrow-left {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #ffffff transparent transparent;
}

.arrow-right {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ffffff;
}
