*	{
	line-height: 1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
	position: static;
}

html	{
	height: 100%;
	width: 100%;
}

body	{
	background: rgba(0,0,0,1.0);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: rgba(255,255,255,1.0);
	height: 100%;
	width: 100%;

}

#clear {
clear: both;
}

/* intro panel */

#intro {
	background: url(../images/bk_intro.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	font-size: 28px;
	position: absolute;
	display: inline-block;
	z-index: 0;
}

#intro #remote {
	background: url(../images/img_pillowspeaker.png) no-repeat;
	width: 153px;
	height: 386px;
	/*margin: 120px 0px 0px -60px;*/
	display: inline-block;
	position: absolute;
	left: 70px;
	top: 220px;

}
#intro #heading {
	width: 400px;
	height: 80px;
	display: inline-block;
	position: absolute;
	right: 60px;
	top: 50px;
	text-align: right;
	
}
#intro #regtext {
	width: 1000px;
	height: 483px;
	display: inline-block;
	position: absolute;
	left: 120px;
	top: 200px;
}

#intro #regtext p {
	line-height: 34px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	font-weight: 700;
	font-size: 30px;	
}

#intro #regtext2 {
	width: 570px;
	height: 526px;
	display: inline-block;
	position: absolute;
	left: 630px;
	top: 200px;
}
#intro #regtext2 p {
	line-height: 34px;
	text-align: left;
	position: relative;
	font-weight: 700;
	font-size: 30px;
	
}
#intro #regtext p.text1 {
	color: rgba(252,254,254,1.00);
	text-align: left;
}

#intro #regtext p.text2  {
	color: rgba(246,242,115,1.00);
	text-align: left;
}
	
#intro #instruction {
	width: 450px;
	height: 483px;
	display: inline-block;
	position: absolute;
	left: 50px;
	top: 190px;
	text-align: right;
}

#intro #instruction p {
	line-height: 34px;
	margin: 0px 0px 0px 0px;
	position: relative;
	font-size: 30px;
	font-weight: 700;
	/*text-shadow: 2px 2px 6px rgba(0,0,0,1.00);*/
}


#intro #instruction p.text1 {
	color: rgba(252,254,254,1.00);
}

#intro #instruction p.text2  {
	color: #00161C;
}

#intro #instruction p.text2-sm  {
	color: rgba(200,219,153,1.00);
	text-align: left;
	font-size: 22px;
}
#intro #instruction  p.text3  {
	color: rgba(189,239,254,1.00)
	text-align: left;
}
#intro #instruction p.text4 {
	color: rgba(252,254,254,1.00);
	text-align: left;
	font-size: 40px;
}

#intro #aboutus {
	background-repeat: no-repeat;
	background-position: top center no-repeat;
	width: 586px;
	height: 338px;
	left: 595px;
	position: absolute;
	top: 16px;
}

#intro #aboutus #image {
	background: url(../images/video-sim.jpg) top center no-repeat;
	width: 586px;
	height: 338px;
	position: absolute;
}

/*ICONS */

#intro #icons {
	position: absolute;
	display: block;
	left: 626px;
	top: 614px;
	height: 100px;
	width: 580px;
	text-align: center;
	padding-left: 50px;
}

#intro #icons div.icon {
	width: 70px;
	height: 68px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;

}

#intro #icons #wheelchair {
	background: url('../images/icon_intro-wheelchair.png') no-repeat;
}
#intro #icons #lowvis{
	background: url('../images/icon_intro-lowvis.png') no-repeat;
}
#intro #icons #hearingasst {
	background: url('../images/icon_intro-hearingasst.png') no-repeat;
}
#intro #icons #closedcap {
	background: url('../images/icon_intro-closedcap.png') no-repeat;
}
#intro #icons #lgprint {
	background: url('../images/icon_intro-lgprint.png') no-repeat;
}

/*BUTTONS */

#intro #buttons {
	width: 600px;
	height: 200px;	
	margin: 0px 0px 0px 50px;
	display: inline-block;
	position: absolute;
	left: 535px;
	top: 376px;
}

#intro #buttons a {
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	color: rgba(252,252,252,1.00);
	background-color: #006699;
	font-size: 40px;
	-webkit-box-shadow: inset -3px 4px 4px rgba(253,253,253,0.50);
	box-shadow: inset -3px 4px 4px rgba(253,253,253,0.50);
	border-bottom: 2px inset rgba(0,0,0,0.60);
}

#intro #buttons a.active {
	background-color: #F58025;
	font-size: 50px;
}

#intro #buttons a.settings.active {
	background-color: #F58025;
	font-size: 44px;
}

#intro #buttons a.mycare {
	width: 285px;
	height: 140px;
	margin: 0px 0px 0px 0px;
	float: left;
	position: relative;
}

#intro #buttons a.watchtv {
	width: 285px;
	height: 140px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	float: right;
	position: relative;
}

#intro #buttons a.settings {
	width: 600px;
	height: 50px;
	font-size: 36px;
	line-height: 50px;
	top: 150px;
	left: 0px;
	position: absolute;
}



/* mycare.noimages */
#intro.noimages #aboutus #image{
	background: none;
}

/* intro.lightdark */

#intro.lightdark {
	background: url(../images/bk2_hires_spaulding_intro1.jpg) top center no-repeat;
}

#intro.lightdark #instruction p {
	color: rgba(255,255,153,1.0);
}

#intro.lightdark #instruction p.black {
	color: rgba(255,255,255,1.0);
}

#intro.lightdark #buttons a {
	background: url(../images/btn_intro1-bk2.png) top center no-repeat;
	color: rgba(255,255,153,1.0);
}

#intro.lightdark #buttons a.myview {
	background: url(../images/btn_intro2-bk2.png) top center no-repeat;
	color: rgba(255,255,153,1.0);
}

#intro.lightdark #buttons a.active,
#intro.lightdark #buttons a.myview.active {
	background: rgba(0,138,175,1.0);
}

#intro.darklight {
	background: url(../images/bk3_hires_spaulding_intro1.jpg) top center no-repeat;
}

#intro.darklight #instruction p {
	color: rgba(0,79,98,1.0);
}

#intro.darklight #instruction p.black {
	color: rgba(0,22,28,1.0);
}

#intro.darklight #buttons a {
	background: url(../images/btn_intro1-bk3.png) top center no-repeat;
	color: rgba(68,85,95,1.0);
}

#intro.darklight #buttons a.settings {
	background: url(../images/btn_intro2-bk3.png) top center no-repeat;
	color: rgba(68,85,95,1.0);
}

#intro.darklight #buttons a.active,
#intro.darklight #buttons a.myview.active {
	background: rgba(254,255,153,1.0);
	color: rgba(23,62,89,1.0);
}

