a, a:active, a:visited, a:hover {
	text-decoration: none;
}
#meal {
	font-family: "Arial Bold";
	color: rgba(255,255,255,1.0);
}

#meal.eat {
	background: url(../images/bk_secondlevel_eat_orange.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	left: 0;
	top: 0;
	position: absolute;
}

#meal #banner	{
	width: 1280px;
	height: 100px;
	margin: 65px 0px 0px 0px;
	position: absolute;
}

#meal #banner p	{
	width: 1280px;
	height: 50px;
	font-size: 28px;
	line-height: 50px;
	font-weight: 500px;
	margin: 0px 35px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: right;
	position: relative;
	text-align: right;
}

#meal #banner p span	{
	font-size: 32px;
	color: rgba(254,242,0,1.00);
}

#meal #label	{
	width: 525px;
	height: 77px;
	margin: 127px 0px 0px 40px;
	float: left;
	position: absolute;
	background: url("../images/icon_home_eat.png") center right no-repeat;
}

#meal #label p	{
	width: 490px;
	height: 77px;
	font-size: 44px;
	line-height: 77px;
	font-weight: 800px;
	margin: 0px 0px 0px 35px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: left;
}

#meal #label p img	{
	margin: 0px 0px 0px 0px;
	float: right;
}

/* overlay */

#meal #overlay {
	background: rgba(0,138,175,1.00);
	border: 8px solid rgba(245,128,37,1.00);
	width: 1175px;
	height: 460px;
	margin: 198px 0px 0px 40px;
	position: absolute;
	display: block;
	z-index: 100;
}

#meal #overlay #agenda {
	display: none;
}

#meal #overlay #agenda.active {
	display: block;
}

#meal #overlay div#agenda div#date {
	color: rgba(255,255,102,1.00);
	font-size: 28px;
	float: right;
	padding-right: 20px;
	position: absolute;
	top:  -40px;
	right: 0;
}


#meal #overlay #back	{
	background: rgba(245,128,37,1.00);
	color: rgba(255,255,255,1.00);
	width: 120px;
	height: 50px;
	display: block;
	font-size: 28px;
	font-weight: normal;
	line-height: 50px;
	text-align: center;
	margin: 20px 0px 0px 0px;
	position: absolute;
	z-index: 101;
}

#meal #overlay #footer	{
	color: rgba(255,255,102,1.00);
	width: 1175px;
	height: 42px;
	display: block;
	font-size: 28px;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	margin: 410px 0px 0px 0px;
	position: absolute;
	z-index: 101;
}

#meal #overlay #selection	{
	width: 1225px;
	height: 460px;
	margin: 0px 0px 0px 0px;
	float: left;
	display: inline-block;
	position: relative;
	z-index: 102;
}

#meal #overlay #selection #body	{
	width: 520px;
	min-height: 36px;
	margin: 0;
	color: rgba(255,255,255,1.00);
	display: inline-block;
	position: relative;
}

#meal #overlay #selection #body.breakfast {
	width: 1065px;
	height: 75px;
	margin-left: 80px;
}

#meal #overlay #selection #body.lunch {
	margin: 0 20px 0 80px;
}
	
#meal #overlay #selection #body.dow	{
	width: 515px;
}

#meal #overlay #selection #body.dow p	{
	font-size: 25px;
}

#meal #overlay #selection #body p	{
	min-height: 36px;
	min-width: 1px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 600px;
	float: left;
	text-align: left;
	position: relative;
	margin: 0px 0px 0px 0px;
	color: rgba(255,255,255,1.00);
}

#meal #overlay #selection #body p span	{
	color: rgba(255,255,102,1.00);
}

#meal #overlay #selection #body p span.rjust	{
	float: right;
	color: rgba(255,255,255,1.00);
}

#meal #overlay #selection #body p.list	{
	width: 625px;
	font-size: 30px;
	line-height: 40px;
	font-weight: 600px;
	float: left;
	text-align: left;
	margin: 0px 25px 0px 25px;
	color: rgba(249,238,132,1.00);
}

#meal #overlay #selection #body ul	{
	width: 625px;
	font-weight: 600px;
	float: left;
	margin: 0px 25px 0px 50px;
}

#meal #overlay #selection #body ul li	{
	margin-left: 25px;
	font-size: 30px;
	line-height: 42px;
	text-align: left;
	color: rgba(255,255,255,1.00);
}

#meal #overlay #selection #body ul li span	{
	color: rgba(249,238,132,1.00);
}

#meal #overlay #selection #body p.clickable	{
	background: rgba(49,139,200,1.00);
	width: 300px;
	min-height: 36px;
	padding: 10px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 600px;
	text-align: center;
	margin: 0px 0px 15px 25px;
	color: rgba(255,255,255,1.00);
}

#meal #overlay #selection #body p.middle	{
	margin-top: 200px;
}

#meal #overlay #selection #body p.narrow	{
	width: 500px;
	margin-right: 0px;
}

#meal #overlay #selection #body p.wide	{
	width: 800px;
	margin-right: 0px;
}

#meal #overlay #selection #body p.small	{
	font-size: 28px;
	line-height: 32px;
}

#meal #overlay #selection #body p.smaller	{
	font-size: 24px;
	line-height: 28px;
	font-weight: 600px;
}

#meal #overlay #selection #body p.larger	{
	font-size: 42px;
	line-height: 48px;
}

#meal #overlay #selection #body p.right	{
	text-align: right;
	float: right;
}

#meal #overlay #selection #body p.nomargin	{
	margin-top: 0px;
}

#meal #overlay #selection #body p.stopmargin	{
	margin-top: 5px;
}

#meal #overlay #selection #body ul.topmargin,
#meal #overlay #selection #body p.topmargin	{
	margin-top: 50px;
}

#meal #overlay #selection #body p.lower	{
	margin-top: 100px;
}

#meal #overlay #selection #body p.botmargin	{
	margin-bottom: 10px;
}

#meal #overlay #selection #body p.bottommargin	{
	margin-bottom: 50px;
}

#meal #overlay #selection #body p.leftmargin	{
	margin-left: 50px;
}

#meal #overlay #selection #body p.highlight,
#meal #overlay #selection #body p span.highlight	{
	color: rgba(255,255,102,1.00);
}

#meal #overlay #selection #body p.lightcolor,
#meal #overlay #selection #body p span.lightcolor	{
	color: rgba(194,214,181,1.00);
}

#meal #overlay #selection #body p.nocolor,
#meal #overlay #selection #body p span.nocolor	{
	color: rgba(255,255,255,1.00);
}

#meal #overlay #selection #body p.italic,
#meal #overlay #selection #body p span.italic	{
	font-style: italic;
}

/* overlay.lightdark */

#meal.lightdark #overlay {
	background: rgba(19,82,100,1.00);
	border: 8px solid rgba(68,85,95,1.00);
}

/* overlay.darklight */

#meal.darklight #overlay {
	background: rgba(209,214,217,1.00);
	border: 8px solid rgba(68,85,95,1.00);
}

#meal.darklight #overlay #selection #body p,
#meal.darklight #overlay #selection #body p span	{
	color: rgba(23,62,89,1.00);
}

/* meal.lightdark */

#meal.lightdark {
	background: url(../images/bk2-dk_secondlevel.jpg) top center no-repeat;
}

#meal.lightdark #selections a.active	{
	background: rgba(0,138,175,1.00);
}

#meal.lightdark #overlay #selection #body	{
	color: rgba(68,85,95,1.00);
}

/* meal.darklight */

#meal.darklight {
	background: url(../images/bk3-lt_secondlevel.jpg) top center no-repeat;
}

#meal.darklight #banner p {
	color: rgba(68,85,95,1.00);
}

#meal.darklight #banner p span	{
	color: rgba(23,62,89,1.00);
}

#meal.darklight #label	{
	background: url("../images/icon_home_eat-dk.png") center right no-repeat;
}

#meal.darklight #label p	{
	color: rgba(68,85,95,1.00);
}

#meal.darklight #selections a	{
	color: rgba(68,85,95,1.00);
}

#meal.darklight #selections a.active	{
	background: rgba(254,255,153,1.00);
}

#meal.darklight #selection #heading,
#meal.darklight #selection #body,
#meal.darklight #selection #body p,
#meal.darklight #selection #body p span,
#meal.darklight #selection #body ul,
#meal.darklight #selection #body ul li,
#meal.darklight #selection #body ul li span	{
	color: rgba(23,62,89,1.00);
}

#meal.darklight #selection #title	{
	background: rgba(254,255,153,1.00);
	color: rgba(23,62,89,1.00);
}

#meal.darklight #selection #focus	{
	border: 8px rgba(254,255,153,1.00) solid;
	border-top: 20px rgba(254,255,153,1.00) solid;
}

#meal.darklight #selection #slider #movie	{
	color: rgba(23,62,89,1.00);
}
#meal.darklight #overlay div#agenda div#date {
	color: rgba(23,62,89,1.00);
}

#meal.darklight #overlay #selection #body	{
	color: rgba(68,85,95,1.00);
}

#meal.darklight #overlay #selection #body p	{
	color: rgba(68,85,95,1.00);
}

#meal.darklight #overlay #selection #body p span	{
	color: rgba(23,62,89,1.00);
}
#meal.darklight #overlay #footer {
	color: rgba(23,62,89,1.00);
}
