.page.movies {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background: url(../images/bk_default-movies.jpg) top left no-repeat;*/
	background-color: rgba(0,138,175, 1.00);
}

.page.secondary .background {
    width: 1280px;
    height: 720px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,138,175, 1.00); /*added*/
    z-index: 1;

}

.page.movies .page-title {
	left: 0px;
	top: 124px;
	width: 358px;
	height: 70px;
	z-index: 1;
	text-align: left;
	padding-left: 50px;
	padding-top: 8px;
	letter-spacing: 1px;
	color: #FCFCFC;
	line-height: 72px;
	background-size: cover;
	font-weight: bold;
	font-size: 44px;

}
#movies.page.movies .page-title {
	background: rgba(120,29,126,1.00) url(../images/icon_home_tv.png) 336px 0px no-repeat;
}
.page.movies #header {
    width: 100%;
    height: 194px;
    position: absolute;
    background-color: #008aaf;
	border-bottom: 10px solid #781d7d;
}

.page.movies #header #heading1 {
    height: 100px;
    top: 70px;
    right: 58px;	
    position: absolute;
    display: inline-block;
    float: left;
}

.page.movies #header #heading1 p {
	color: #FBFBFC;
	text-align: right;
	font-size: 28px;
	line-height: 40px;
	font-weight: bold;
}

.page.movies #header #heading2 {
    width: 340px;
    height: 56px;
    top: 162px;
    left: 60px;
    position: absolute;
    float: left;
    z-index: 1;
	/*border: 4px solid rgba(240, 244, 245, 1.00);
    background: #94b329;
    background: -webkit-linear-gradient(#94b329, #4c7401);
	border-radius: 12px;*/
	background-color: #559CBE;
	box-shadow: 1px 4px 8px 0px #353535;  
}

.page.movies #header #heading2 p {
	color: #F0F4F5;
    text-align: center;
    font-size: 28px;
    padding-top: 14px;
    font-weight: 600;
}

.page.movies #content {
	width: 100%;
	/*height: 575px;
    top: 145px;
	height: 516px;*/
	top: 204px;
	position: absolute;
	left: 0px;
	/*background: url(../images/bk_default2.jpg) top left no-repeat;*/
	background-color: ##008aaf;
}

.page.movies #menu {
    width: 100%;
    height: 100%;
}

.page.movies #menu .major {
	position: absolute;
	width: 388px;
	height: 486px;
	left: 0px;
	top: 0px;
	padding: 35px 0 0 0;
	background-color: #3B3B3B;
	border-left: 20px solid #781d7d;
}

.page.movies #menu .major a {
	position: relative;
	display: block;
	height: 42px;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 30px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: .5px;
}

.page.movies #menu .major a.back-button {
    font-size: 30px;
	top: 0px;
	text-align: left;
	margin-bottom: 20px;
	/*background-color: rgba(84,159,195,0.50);*/
	/*border-radius: 8px;*/
}

.page.movies #menu .major a.selected {
	background-color: #781d7d;
	text-shadow: 2px 2px 4px rgba(30,30,30, .60);
}

.page.movies #menu .minor {
    position: absolute;
    width: 840px;
    height: 588px;
    top: 0px;
    left: 448px;
}

.page.movies #menu .minor .arrow-button {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 500px;
    border-radius: 30px;
    margin: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
}

.page.movies #menu .minor .arrow-button.sub-page-prev {
    left: -20px;
}

.page.movies #menu .minor .arrow-button.sub-page-next {
    right: 30px;
}

.page.movies #menu .minor .arrow-button:hover {
    opacity: 1;
    cursor: pointer;
}

.page.movies #menu .minor .arrow-left {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -15px;
}

.page.movies #menu .minor .arrow-right {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -5px;
}

.page.movies #menu .minor .menu-tab {
    position: absolute;
    display: none;
    width: 800px;
}

.page.movies #menu .minor .sub-page {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.page.movies #menu .minor .sub-header {
    margin-top: 0px;
    height: 50px;
    color: #FFFF92;
}

.page.movies #menu .minor .sub-footer {
    position: absolute;
    height: 50px;
    color: #C0DDA3;
    text-align: center;
    top: 0px;
    left: 400px;
    text-shadow: 2px 2px 6px #000000;
}

.page.movies #menu .minor .sub-content {
    margin-top: -20px;
    height: 470px;
    overflow: hidden;
    position: relative;
}

.page.movies #menu .minor .sub-content p {
    margin-bottom: 15px;
    line-height: 28pt;
}

.page.movies #menu .minor .sub-content .sub-image1 img, .page.movies #menu .minor .sub-content .sub-image2 img {
    width: 100%;
    height: 100%;

}

/* Layout 1, text only */
.page.movies #menu .minor .sub-content.layout1 {

}

.page.movies #menu .minor .sub-content.layout1 .sub-text1 {
    display: inline-block;
    width: 100%;
    padding-top: 40px;
}

img.rightarrow {
    height: 50px;
    width: 50px;
    margin: 430px 0px 0px 340px;
    position: absolute;
}

img.leftarrow {
    height: 50px;
    width: 50px;
    margin: 430px 0px 0px -400px;
    position: absolute;
}

/* movies.noimages */

#movies.noimages #background {
    display: none;
}

#movies.noimages #selection #carousel a img {
    display: none;
}

.page.movies #menu .minor .sub-content.layout1 .sub-text2 {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
}

.page.movies #menu .minor .sub-content.layout1 .sub-image1 {
    display: none;
}

.page.movies #menu .minor .sub-content.layout1 .sub-image2 {
    display: none;
}

/* Layout 2, text and image side by side */
.page.movies #menu .minor .sub-content.layout2 {

}

.page.movies #menu .minor .sub-content.layout2 .sub-text1 {
    display: inline-block;
    float: left;
    width: 520px;
    padding-top: 40px;
}

.page.movies #menu .minor .sub-content.layout2 .sub-text2 {
    display: none;
}

.page.movies #menu .minor .sub-content.layout2 .sub-image1 {
    display: inline-block;
    float: left;
    width: 246px;
    padding-top: 50px;
    padding-left: 10px;
}

.page.movies #menu .minor .sub-content.layout2 .sub-image2 {
    display: none;
}

/* Layout 3, text and image aligns vertically */
.page.movies #menu .minor .sub-content.layout3 {

}

.page.movies #menu .minor .sub-content.layout3 .sub-text1 {
    float: none;
    height: 210px;
    width: 720px;
    padding-top: 40px;
}

.page.movies #menu .minor .sub-content.layout3 .sub-text2 {
    display: none;
}

.page.movies #menu .minor .sub-content.layout3 .sub-image1 {
    float: none;
    height: 220px;
}

.page.movies #menu .minor .sub-content.layout3 .sub-image2 {
    display: none;
}

/* Layout 4, text 1 on top, text 2 and image at bottom */
.page.movies #menu .minor .sub-content.layout4 {

}

.page.movies #menu .minor .sub-content.layout4 .sub-text1 {
    display: block;
    float: none;
    height: 220px;
    padding-top: 40px;
}

.page.movies #menu .minor .sub-content.layout4 .sub-text2 {
    float: left;
    width: 500px;
    height: 200px;
}

.page.movies #menu .minor .sub-content.layout4 .sub-image1 {
    float: left;
    width: 240px;
    height: 200px;
}

.page.movies #menu .minor .sub-content.layout4 .sub-image2 {
    display: none;
}

/* Layout 5, text overlays image */
.page.movies #menu .minor .sub-content.layout5 {

}

.page.movies #menu .minor .sub-content.layout5 .sub-text1 {
    display: block;
    position: absolute;
    height: 225px;
    width: 760px;
    top: 50px;
    left: 10px;
    padding: 15px;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
}

.page.movies #menu .minor .sub-content.layout5 .sub-text2 {
    display: none;
}

.page.movies #menu .minor .sub-content.layout5 .sub-image1 {
    width: 100%;
    height: 100%;
}

.page.movies #menu .minor .sub-content.layout5 .sub-image2 {
    display: none;
}

/* Layout 6, ONLY an image (map) */
.page.movies #menu .minor .sub-content.layout6 {

}

.page.movies #menu .minor .sub-content.layout6 .sub-text1 {
    display: none;
}

.page.movies #menu .minor .sub-content.layout6 .sub-text2 {
    display: none;
}

.page.movies #menu .minor .sub-content.layout6 .sub-image1 {
    width: 100%;
    height: 100%;
}

.page.movies #menu .minor .sub-content.layout6 .sub-image2 {
    display: none;
}

/* carousel */



.carousel {
	height: 467px;
	width: 845px;
	margin-left: -35px;
	margin-top: -40px;
	position: absolute;
	display: inline-block;
}


.carousel .carouselTitle {
	background-color: #83bb37;
	height: 65px;
	width: 845px;
	position: absolute;
	z-index: 5;
	display: block;
}

.carousel .carouselTitle p {
	width: 100%;
	margin: 10px 0px 0px 0px;
	font-weight: bold;
	font-size: 36px;
	color: white;
	text-align: center;
}

.carousel .carouselOverlay {
	border: 25px solid #83bb37;
	height: 345px;
	width: 245px;
	margin: 0px 0px 0px 30px;	
	display: none;
	position: absolute;
	z-index: 5;
}

.carousel .carouselPosters {
	height: 400px;
	width: 870px;
	margin: 45px 0px 0px 0px;
	position: absolute;
	z-index: 4;
	overflow: scroll;    
	overflow-x: hidden;
}

.carousel .carouselPosters img {  	
	width: 33%;
	height: 1px;
	width: 1px;
	margin: 75px 0px 0px 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: none;	
	padding: 25px, 25px, 25px, 25px; 
}

.carousel .carouselPosters img.active { 

	background: #83bb37;
	height: 300px; 
	width: 210px; 	

	margin: 0px 0px 0px 0px; 
	display: block; 
	padding: 50px 30px 30px 30px;
}


.carousel .carouselPosters img.inactive{ 
	background: url(../images/mov_poster_BK1.png) top center no-repeat; 	
	height: 300px; 
	width: 210px; 	
	margin: 35px 15px 15px 15px; 
	display: block; 
	padding: 15px 15px 1px 15px;
}


.carousel .carouselPosters img.blank { 
	background: url(../images/mov_poster_BK0.png) top center no-repeat;
}

.carousel .carouselMessage {
	height: 40px;
	width: 800px;
	margin: 420px 0px 0px 0px;
	display: block;
}

.carousel .carouselMessage p {
	width: 100%;
	margin: 0px auto 0px auto;
	font-weight: normal;
	font-size: 30px;
	color: white;
	text-align: center;
}



/* secondary.noimages */

.page.movies.noimages #background {
	display: none;
}

.page.movies.noimages .minor .sub-content .sub-image1 img	{
	display: none;
}

.page.movies.noimages .minor .sub-content .sub-image2 img	{
	display: none;
}

/* secondary.lightdark */



#movies.page.movies.lightdark .page-title { 
	background-color: rgba(69,86,96,1.00);
}

.page.movies.lightdark  #header {	
	border-bottom: 10px solid rgba(69,86,96,1.00);
}


.page.movies.lightdark  #menu .major { 	
	border-left: 40px solid rgba(69,86,96,1.00);
	width: 367px;
}

.page.movies.lightdark #menu .major a.selected {
    background-color: rgba(0,138,175,1.00);
}

.page.movies.tv.lightdark {
	background: url(../images/bk2-dk_movies.jpg) top center no-repeat;
}

.page.movies.lightdark #selections a.active	{
	background: rgba(0,138,175,1.00);
}

/* secondary.darklight */


.page.movies.darklight {
	background: url(../images/bk3-lt_movies.jpg) top center no-repeat;
}

#movies.page.movies.darklight  .page-title { 	
	color: rgba(68,85,95,1.00);
	background: rgba(254,255,153,1.00) url(../images/icon_home_tv-dk.png) 330px 10px no-repeat;
}

#movies.page.movies.darklight  #header {	
	background-color: transparent;	
	border-bottom: 10px rgba(254,255,153,1.00);
}

.page.movies.darklight  #menu .major { 	
	background-color: transparent;	
	border-left: 40px solid rgba(254,255,153,1.00);	
	width: 367px;
}

.page.movies.darklight  #menu .major  a{ 	
    color: rgba(68,85,95,1.00);
}
	
.page.movies.darklight #menu .major a.selected {
    background: rgba(254,255,153,1.00);
}

.page.movies.tv.darklight {
	background: url(../images/bk2-dk_movies.jpg) top center no-repeat;
}

.page.movies.darklight #selections a.active	{
	background: rgba(0,138,175,1.00);
}

.page.movies.darklight #header #heading1 p	{
	color: rgba(68,85,95,1.00);
}

.page.movies.darklight #header p span	{
	color: rgba(23,62,89,1.00);
}	

.page.movies.darklight #menu .sub-text1 ,
.page.movies.darklight #menu .sub-text1 p, 
.page.movies.darklight #menu .sub-text1  a,
.page.movies.darklight #menu .sub-text1  span,
.page.movies.darklight #menu .sub-text2,
.page.movies.darklight #menu .sub-text2 p, 
.page.movies.darklight #menu .sub-text2 a ,
.page.movies.darklight #menu .sub-text1  span,
.page.movies.darklight #menu .minor .sub-footer,
.page.movies.darklight #menu .major .menucolumntext,
.page.movies.darklight #menu .minor .pageheading,
.page.movies.darklight #menu .minor .pageheading p,
.page.movies.darklight #menu .minor .pageheading a,
.page.movies.darklight #menu .minor .pageheading span,
.page.movies.darklight #menu .minor .pageheading span1,
.page.movies.darklight #menu .minor .pageheading span2 {   
	color: rgba(23,62,89,1.00);
}