.page.moviedetail {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(0,138,175, 1.00);
}

.page.moviedetail .background {
    width: 1280px;
    height: 720px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,138,175, 1.00); /*added*/
    z-index: 1;
}

.page.moviedetail .page-title {
	left: 0px;
	top: 124px;
	width: 358px;
	height: 70px;
	z-index: 1;
	text-align: left;
	padding-left: 50px;
	padding-top: 8px;
	letter-spacing: 1px;
	color: #FCFCFC;
	line-height: 72px;
	background-size: cover;
	font-weight: bold;
	font-size: 44px;
}
.page.moviedetail .page-title {
	background: rgba(120,29,126,1.00) url(../images/icon_home_tv.png) 336px 0px no-repeat;
}
.page.moviedetail #header #moviename {
    height: 100px;
    top: 320px;
    left: 80px;
    position: absolute;
    display: inline-block;
    float: left;
    width: 210px;
    z-index: 2;
}

.page.moviedetail #header #moviename p {
    color: #FFFFFF;
	text-align: center;
}
.page.moviedetail #header {
    width: 100%;
    height: 194px;
    position: absolute;
    background-color: ##008aaf;
	border-bottom: 10px solid #781d7d;
}

.page.moviedetail #header #heading1 {
    height: 100px;
    top: 70px;
    right: 58px;	
    position: absolute;
    display: inline-block;
    float: left;
}

.page.moviedetail #header #heading1 p {
	color: #FBFBFC;
	text-align: right;
	font-size: 28px;
	line-height: 40px;
	font-weight: bold;
}

.page.moviedetail #posterimg {
	height: 340px;
	top: 295px;
	left: 70px;
	position: absolute;
	/*display: inline-block;*/
	float: left;
	width: 220px;
	z-index: 2;
}

.page.moviedetail #posterimg img {
	height: 275px;
	width: 205px;	
}
.page.moviedetail #posterimg p {
    text-align: center;
    font-size: 28px;
    padding-top: 0px;
    font-weight: 600;	
}

.page.moviedetail #content {
    width: 100%;
    height: 575px;
    top: 204px;
    position: absolute;
    left: 0px;
    /*background: url(../images/bk_default2.jpg) top left no-repeat;*/
	background-color: ##008aaf;
}

.page.moviedetail #menu {
    width: 100%;
    height: 100%;
}

.page.moviedetail #menu .major {
	position: absolute;
	width: 388px;
	height: 486px;
	left: 0px;
	top: 0px;
	padding: 35px 0 0 0;
	background-color: #3B3B3B;
	border-left: 20px solid #781d7d;

}

.page.moviedetail #menu .major a {
	position: relative;
	display: block;
	height: 42px;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 30px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 34px;
	font-weight: 700;
	letter-spacing: .5px;
}

.page.moviedetail #menu .major a.back-button {
    font-size: 30px;
	top: 0px;
	text-align: left;
	margin-bottom: 280px;
	/*background-color: rgba(84,159,195,0.50);*/
	/*border-radius: 8px;*/
}

.page.moviedetail #menu .major a.selected {
	background-color: #781d7d;
	text-shadow: 2px 2px 4px rgba(30,30,30, .60);
}

.page.moviedetail #menu .minor {
    position: absolute;
    width: 840px;
    height: 588px;
    top: 0px;
    left: 440px;
}

.page.moviedetail #menu .minor .arrow-button {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 381px;
    border-radius: 30px;
    margin: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
}

.page.moviedetail #menu .minor .arrow-button.sub-page-prev {
    left: -19px;
}

.page.moviedetail #menu .minor .arrow-button.sub-page-next {
    right: 30px;
}

.page.moviedetail #menu .minor .arrow-button:hover {
    opacity: 1;
    cursor: pointer;
}

.page.moviedetail #menu .minor .arrow-left {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -15px;
}

.page.moviedetail #menu .minor .arrow-right {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -5px;
}

.page.moviedetail #menu .minor .back-tab {
    position: absolute;
    display: none;
}

.page.moviedetail #menu .minor .back-tab img {
    width: 90%;
    height: 90%;
    margin: 40px 0px 0px 25px;
}

.page.moviedetail #menu .minor .menu-tab {
    position: absolute;
    display: none;
    width: 710px;
}

.page.moviedetail #menu .minor .sub-page {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.page.moviedetail #menu .minor .sub-header {
    margin-top: 0px;
    height: 30px;
    color: rgba(189, 239, 254, 1.00);
    /*color: #FFFF92;*/
}

.page.moviedetail #menu .minor .sub-footer {
    position: relative;
    height: 50px;    
    text-align: left;
    top: -70px;
    left: 0px;
	font-size: 24px;
}

.page.moviedetail #menu .minor .sub-footer span.text-color-2{
	font-size: 24px;
}

.page.moviedetail #menu .minor .sub-content {
    margin-top: 2px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.page.moviedetail #menu .minor .sub-content .description {
	font-size: 24px;
	height: 165px;
	overflow: hidden;
}

.page.moviedetail #menu .minor .sub-content p {
    margin-bottom: 2px;
    line-height: 40px;
    padding-top: 6px;
    padding-bottom: 0px;
    padding-right: 20px;
}

.page.moviedetail #menu .minor .sub-content .sub-image1 img, .page.moviedetail #menu .minor .sub-content .sub-image2 img {
    width: 100%;
    height: 100%;
}

/* Layout 1, text only */
.page.moviedetail #menu .minor .sub-content.layout1 {

}

.page.moviedetail #menu .minor .sub-content.layout1 .sub-text1 {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
}

.page.moviedetail #menu .minor .sub-content.layout1 .sub-text2 {
    position: absolute;
	font-size: 
    width: 100%;
    padding-top: 10px;
}

.page.moviedetail #menu .minor .sub-content.layout1 .sub-image1 {
    display: none;
}

.page.moviedetail #menu .minor .sub-content.layout1 .sub-image2 {
    display: none;
}

/* Layout 2, text and image side by side */
.page.moviedetail #menu .minor .sub-content.layout2 {

}

.page.moviedetail #menu .minor .sub-content.layout2 .sub-text1 {
    display: inline-block;
    float: left;
    width: 520px;
    padding-top: 20px;
    padding-right: 10px;
    z-index: 2;
}

.page.moviedetail #menu .minor .sub-content.layout2 .sub-text2 {
    display: none;
}

.page.moviedetail #menu .minor .sub-content.layout2 .sub-image1 {
    display: inline-block;
    float: right;
    width: 260px;
    padding-top: 5px;
    padding-left: 0px;
    z-index: 1;
    right: 1px;
}

.page.moviedetail #menu .minor .sub-content.layout2 .sub-image2 {
    display: none;
}

/* Layout 2b, 2 text blocks side by side */
.page.moviedetail #menu .minor .sub-content.layout2b {

}

.page.moviedetail #menu .minor .sub-content.layout2b .sub-text1 {
    display: inline-block;
    float: left;
    width: 620px;
    padding-top: 20px;
    padding-right: 10px;
    z-index: 2;
}

.page.moviedetail #menu .minor .sub-content.layout2b .sub-text2 {
    display: inline-block;
    /*float: right;*/
    position: absolute;
    left: 400px;
    width: 360px;
    padding-top: 20px;
    padding-left: 0px;
    z-index: 1;
}

.page.moviedetail #menu .minor .sub-content.layout2b .sub-image1 {
    display: none;
}

.page.moviedetail #menu .minor .sub-content.layout2b .sub-image2 {
    display: none;
}

/* Layout 3, text and image aligns vertically */
.page.moviedetail #menu .minor .sub-content.layout3 {

}

.page.moviedetail #menu .minor .sub-content.layout3 .sub-text1 {
    float: none;
    height: 210px;
    width: 720px;
    padding-top: 20px;
}

.page.moviedetail #menu .minor .sub-content.layout3 .sub-text2 {
    display: none;
}

.page.moviedetail #menu .minor .sub-content.layout3 .sub-image1 {
    float: none;
    height: 220px;
}

.page.moviedetail #menu .minor .sub-content.layout3 .sub-image2 {
    display: none;
}

/* Layout 4, text 1 on top, text 2 and image at bottom */
.page.moviedetail #menu .minor .sub-content.layout4 {

}

.page.moviedetail #menu .minor .sub-content.layout4 .sub-text1 {
    display: block;
    float: none;
    height: 220px;
    padding-top: 20px;
}

.page.moviedetail #menu .minor .sub-content.layout4 .sub-text2 {
    float: left;
    width: 500px;
    height: 200px;
}

.page.moviedetail #menu .minor .sub-content.layout4 .sub-image1 {
    float: left;
    width: 240px;
    height: 200px;
}

.page.moviedetail #menu .minor .sub-content.layout4 .sub-image2 {
    display: none;
}

/* Layout 5, text overlays image */
.page.moviedetail #menu .minor .sub-content.layout5 {

}

.page.moviedetail #menu .minor .sub-content.layout5 .sub-text1 {
    display: block;
    position: absolute;
    height: 225px;
    width: 760px;
    top: 20px;
    left: 10px;
    padding: 15px;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
}

.page.moviedetail #menu .minor .sub-content.layout5 .sub-text2 {
    display: none;
}

.page.moviedetail #menu .minor .sub-content.layout5 .sub-image1 {
    width: 100%;
    height: 100%;
}

.page.moviedetail #menu .minor .sub-content.layout5 .sub-image2 {
    display: none;
}

/* Layout 6, ONLY an image (map) */
.page.moviedetail #menu .minor .sub-content.layout6 {

}

.page.moviedetail #menu .minor .sub-content.layout6 .sub-text1 {
    display: none;
}

.page.moviedetail #menu .minor .sub-content.layout6 .sub-text2 {
    display: none;
}

.page.moviedetail #menu .minor .sub-content.layout6 .sub-image1 {
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.page.moviedetail #menu .minor .sub-content.layout6 .sub-image2 {
    display: none;
}

/* Layout 7, EDUCATION LIBRARY */
.page.moviedetail #menu .minor .sub-content.layout7 {

}

.page.moviedetail #menu .minor .sub-content.layout7 .sub-text1 {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    font-size: 32px;
}

.page.moviedetail #menu .minor .sub-content.layout7 .sub-text2 {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
}

.page.moviedetail #menu .minor .sub-content.layout7 .sub-image1 {
    width: 32px;
    height: 32px;
    margin: -20px 0 0 0px;
}

.page.moviedetail #menu .minor .sub-content.layout7 .sub-image2 {
    display: none;
}



/* secondary.noimages */


.page.moviedetail.noimages .minor .sub-content .sub-image1 img	{
	display: none;
}

.page.moviedetail.noimages .minor .sub-content .sub-image2 img	{
	display: none;
}

/* secondary.lightdark */

.moviedetail.page.moviedetail.lightdark .page-title { 
	background-color: rgba(69,86,96,1.00);
}

.page.moviedetail.lightdark  #header {	
	border-bottom: 10px solid rgba(69,86,96,1.00);
}


.page.moviedetail.lightdark  #menu .major { 	
	border-left: 40px solid rgba(69,86,96,1.00);
	width: 367px;
}

.page.moviedetail.lightdark #menu .major a.selected {
    background-color: rgba(0,138,175,1.00);
}

.page.moviedetail.tv.lightdark {
	background: url(../images/bk2-dk_movies.jpg) top center no-repeat;
}

.page.moviedetail.lightdark #selections a.active	{
	background: rgba(0,138,175,1.00);
}

/* secondary.darklight */


.page.moviedetail.darklight {
	background: url(../images/bk3-lt_movies.jpg) top center no-repeat;
}

.moviedetail.page.moviedetail.darklight  .page-title { 	
	color: rgba(68,85,95,1.00);
	background: rgba(254,255,153,1.00) url(../images/icon_home_tv-dk.png) 330px 10px no-repeat;
}

.moviedetail.page.moviedetail.darklight  #header {	
	background-color: transparent;	
	border-bottom: 10px rgba(254,255,153,1.00);
}

.page.moviedetail.darklight  #menu .major { 	
	background-color: transparent;	
	border-left: 40px solid rgba(254,255,153,1.00);	
	width: 367px;
}

.page.moviedetail.darklight  #menu .major  a{ 	
    color: rgba(68,85,95,1.00);
}
	
.page.moviedetail.darklight #menu .major a.selected {
    background: rgba(254,255,153,1.00);
}

.page.moviedetail.tv.darklight {
	background: url(../images/bk2-dk_movies.jpg) top center no-repeat;
}

.page.moviedetail.darklight #selections a.active	{
	background: rgba(0,138,175,1.00);
}

.page.moviedetail.darklight #header #heading1 p	{
	color: rgba(68,85,95,1.00);
}

.page.moviedetail.darklight #header p span	{
	color: rgba(23,62,89,1.00);
}	

.page.moviedetail.darklight #menu .sub-text1 ,
.page.moviedetail.darklight #menu .sub-text1 p, 
.page.moviedetail.darklight #menu .sub-text1  a,
.page.moviedetail.darklight #menu .sub-text1  span,
.page.moviedetail.darklight #menu .sub-text2,
.page.moviedetail.darklight #menu .sub-text2 p, 
.page.moviedetail.darklight #menu .sub-text2 a ,
.page.moviedetail.darklight #menu .sub-text1  span,
.page.moviedetail.darklight #menu .minor .sub-footer,
.page.moviedetail.darklight #menu .major .menucolumntext,
.page.moviedetail.darklight #menu .minor .pageheading,
.page.moviedetail.darklight #menu .minor .pageheading p,
.page.moviedetail.darklight #menu .minor .pageheading a,
.page.moviedetail.darklight #menu .minor .pageheading span,
.page.moviedetail.darklight #menu .minor .pageheading span1,
.page.moviedetail.darklight #menu .minor .pageheading span2 {   
	color: rgba(23,62,89,1.00);
}