.page.primary {
	background-color: rgba(0,138,175, 1.00);  /*added*/
}

.page.primary #header {
	width: 100%;
	height: 212px;
	position: absolute;
	background-color: ##008aaf;
	/*background: url(../images/bk_primary_gradient.png) top left no-repeat;*/
}

.page.primary #header #patient {
	width: 472px;
	height: 110px;
	top: 40px;
	left: 764px;
	position: absolute;
	display: inline-block;
	float: left;
}

.page.primary #header #patient p {
	line-height: 36px;
	text-align: left;
	color: #FAFFFD;
	font-weight: 700;
	font-size: 32px;
    letter-spacing: 1px;
}
.page.primary #header #date {
	width: 500px;
	height: 36px;
	top: 150px;
	left: 764px;
	position: absolute;
	display: inline-block;
	float: left;
}

.page.primary #header #date p {
	line-height: 32px;
	font-size: 30px;
	text-align: left;
	color: #F9FAFB;
}

.page.primary #content {
	width: 100%;
	height: 711px;
	top: 0px;
	position: absolute;
	background-color: ##008aaf;
}

.page.primary #menu {
	width: 100%;
	height: 100%;
}

.page.primary #content #menu .bkimage {
	background: url(../images/bk_main_images.png) top center no-repeat;
	top: 386px;
	width: 1214px;
	height: 438px;
	margin: 282px 0px 0px 33px;
	z-index: 0;
}
/*.page.primary #menu .slide {
	position: absolute;
	top: 386px;
	left: 66px;
	width: 1148px;
	height: 435px;
}*/

/*.page.primary #menu .slide {
	background: url(../images/bk_main_images.png) top center no-repeat;
	top: 386px;
	width: 1214px;
	height: 438px;
	margin: 282px 0px 0px 33px;
}/*



.page.primary #menu .slides #menu1-slide {
	background: url('../images/img_main_dine.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu2-slide {
	background: url('../images/img_main_learn.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu3-slide {
	background: url('../images/img_main_visit.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu4-slide {
	background: url('../images/img_main_watch.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu5-slide {
	background: url('../images/img_main_relax.jpg') top left no-repeat;
}
*/

.page.primary #menu .major {
	background-color: #93cce0;
	position: absolute;
	width: 100%;
	height: 69px;
	padding: 0;
	left: 0px;
	top: 216px;
	-webkit-box-shadow: 3px 4px 5px #000405;
	box-shadow: 3px 4px 5px #000405;
	border-top: 4px outset #b4d9e9;
}

.page.primary #menu .major a {
	position: absolute;
	height: 61px;
	margin: 0;
	padding-top: 34px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0px;
	text-align: center;
	font-size: 32px;
	color: #333534;
	top: -16px;
	font-weight: bold;
	letter-spacing: .5px;
}

.page.primary #menu .major a.selected {
	font-size: 54px;
	margin-top: 0px;
	padding-top: 20px;
	padding-left: 30px;
	color: #FCFDFD;
	text-align: left;
}
/* TABS */
.page.primary #menu .major a#menu1 {
	left: 30px;
	width: 270px;
}

.page.primary #menu .major a#menu1.selected{
	background: rgba(141,198,60,1.00) url(../images/icon_home_about.png) 214px 15px no-repeat;
	-webkit-box-shadow: 2px 2px 12px rgba(0,0,0, .40);
	box-shadow: 2px 2px 12px rgba(0,0,0, .40);
}

.page.primary #menu .major a#menu2 {
	left: 268px;
	width: 280px;
}
.page.primary #menu .major a#menu2.selected{
	background: rgba(69,85,96,1.00) url(../images/icon_home_care.png) 215px 6px no-repeat;
}

.page.primary #menu .major a#menu3 {
	left: 510px;
	width: 236px;
}
.page.primary #menu .major a#menu3.selected{
	background: rgba(245,128,37,1.00) url(../images/icon_home_eat.png) 166px 15px no-repeat;
}

.page.primary #menu .major a#menu4 {
	left: 750px;
	width: 272px;
}
.page.primary #menu .major a#menu4.selected{
	background: rgba(255,208,6,1.00) url(../images/icon_home_relax-dk.png) 210px 16px no-repeat;
	color: #455660;	
}

.page.primary #menu .major a#menu5 {
	left: 992px;
	width: 234px;
}
.page.primary #menu .major a#menu5.selected{
	background: rgba(120,29,126,1.00) url(../images/icon_home_tv.png) 160px 6px no-repeat;
}


/* ALL MENUS */

.page.primary #menu .minor {
	position: absolute;
	width: 100%;
	height: 495px;
	top: 285px;

}

.page.primary #menu .minor .menu-group {
	position: absolute;
	background: rgba(51,51,51,0.90);
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	/*display: none;*/
	
}

/* INDIVIDUAL MENUS */

.page.primary #menu .minor #menu1-group {
	left: 30px;
	width: 380px;
	border: 8px solid rgba(141,198,60,1.00);
	/*margin-left: 31px;*/
	display: none;
}

.page.primary #menu .minor #menu1-group a.active{
	background: rgba(141,198,60,1.00);
}


.page.primary #menu .minor #menu2-group {
	left: 268px;
	width: 374px;
	height: 216px;
	border: 8px solid rgba(0,138,175,1.00);
	display: none;
}

.page.primary #menu .minor #menu2-group a.active{
	background: rgba(0,138,175,1.00);
}


.page.primary #menu .minor #menu3-group {
	left: 416px;
	width: 434px;
	height: 216px;
	border: 8px solid rgba(245,128,37,1.00);
	display: none;
}
.page.primary #menu .minor #menu3-group a.active{
	background: rgba(245,128,37,1.00);
}

.page.primary #menu .minor #menu4-group {
	left: 750px;
	width: 330px;
	height: 216px;
	border: 8px solid rgba(255,208,6,1.00);
	display: none;
}
.page.primary #menu .minor #menu4-group a.active{
	background: rgba(255,208,6,1.00);
	color: #455660;
}

.page.primary #menu .minor #menu5-group {
	left: 878px;
	width: 362px;
	height: 216px;
	background: rgba(113,121,123, .90);
	border: 8px solid rgba(120,29,126,1.00);
	display: none;
}
.page.primary #menu .minor #menu5-group a.active{
	background: rgba(120,29,126,1.00);
}

.page.primary #menu .minor .menu-group a {
	display: block;
	padding: 5px 15px;
	line-height: 36pt;
	font-weight: 600;
	font-size: 36px;
	letter-spacing: 1px;
	color: #FFFFFF;
}
.page.primary #menu .minor .menu-group a.selected {
	display: block;
	padding: 5px 15px;
	line-height: 28pt;
	font-weight: 600;
	font-size: 38px;
	letter-spacing: 1px;
	color: #FFFFFF;
}

.primary #revision {
	position: absolute;
	left: 50px;
	bottom: 55px;
	font-size: 12px;
	color: #FFFFFF;
}

.primary #revision #mode {
	position: relative;
	font-size: 40px;
	color: #FFFFFF;
}

#primary #slogan {
	width: 200px;
	height: 120px;
	position: relative;
	margin: 576px 0 0 1040px;
	text-align: right;
	font-size: 36px;
	font-weight: bold;
	color: #fff301;
	display: none;
}


/* primary .noimages */

#primary.noimages #content #menu .bkimage {
	background: none;
}

#primary.noimages #slogan {
	display: block;
}

/* mycare.noimages */

#primary.noimages #background {
	display: none;
}

/* mycare.lightdark */

#primary.lightdark {
	background: url(../images/bk_hires_spaulding_intro2.jpg) top center no-repeat;
}

#primary.lightdark #menu .major {
	background: rgba(69,86,96,1.00);
	border-top: 4px outset #52636B;
}

#primary.lightdark  #menu .major a	{
	color: rgba(255,248,108,1.00);
}

#primary.lightdark #menu .major #menu1.selected {
	background: rgba(1,49,63,0.95) url(../images/icon_home_about.png) 200px 15px no-repeat;
	color: #FFFFFF;
}

#primary.lightdark #menu .major  #menu2.selected	{
	background: rgba(1,49,63,0.95) url(../images/icon_home_care.png) 225px 10px no-repeat;
	color: #FFFFFF;
}

#primary.lightdark #menu .major  #menu3.selected	{
	background: rgba(1,49,63,0.95) url(../images/icon_home_eat.png) 180px 15px no-repeat;
	color: #FFFFFF;
}

#primary.lightdark #menu .major  #menu4.selected	{
	background: rgba(1,49,63,0.95) url(../images/icon_home_relax.png) 210px 15px no-repeat;
	color: #FFFFFF;
}

#primary.lightdark #menu .major  #menu5.selected	{
	background: rgba(1,49,63,0.95) url(../images/icon_home_tv.png) 170px 10px no-repeat;
	color: #FFFFFF;
}

#primary.lightdark #menu .minor	{
	background color: rgba(1,49,63,0.95);
}

#primary.lightdark #menu .minor #menu1-group,
#primary.lightdark #menu .minor #menu2-group,
#primary.lightdark #menu .minor #menu3-group,
#primary.lightdark #menu .minor #menu4-group,
#primary.lightdark #menu .minor #menu5-group	{
	border: 8px solid rgba(69,86,96,1.00);
	background: rgba(1,49,63,0.95);	
}

#primary.lightdark #menu .minor #menu1-group a.active,
#primary.lightdark #menu .minor #menu2-group a.active,
#primary.lightdark #menu .minor #menu3-group a.active,
#primary.lightdark #menu .minor #menu4-group a.active,
#primary.lightdark #menu .minor #menu5-group a.active	{
	background: rgba(0,138,175,1.00);
	color: #FFFFFF;
}

/* mycare.darklight */

#primary.darklight {
	background: url(../images/bk_hires_spaulding_intro2.jpg) top center no-repeat;
}

#primary.darklight #header #patient {
	top: 0px;
	background: #efeee9;
	padding: 50px 0 50px 60px;
	color: rgba(4,53,70,1.00);
	top: 0px;
	left: 704px;
	width: 120%;
}

#primary.darklight #header #patient p {
	color: rgba(1,49,63,1.00)
}

#primary.darklight #header #date {
	top: 165px;
}

#primary.darklight #header #date p {	
	color: rgba(1,49,63,1.00);
}

#primary.darklight #menubar {
	background: url('../images/menubar_lt.jpg') repeat-x;
}

#primary.darklight #menubar #menu a	{
	color: rgba(1,49,63,1.00);
}

#primary.darklight #navigation #menutabs #menutab	{
	color: rgba(69,86,96,1.00);
}

#primary.darklight #menu .major {
    background: #d1d6d9;
}
#primary.darklight #menu .major a.selected {
	color: rgba(69,86,96,1.00);
}

#primary.darklight #menu .major #menu1.selected {
	background: rgba(254,255,153,1.00) url(../images/icon_home_about-dk.png) 214px 15px no-repeat;
}

#primary.darklight #menu .major #menu2.selected {
	background: rgba(254,255,153,1.00) url(../images/icon_home_care-dk.png) 215px 10px no-repeat;
}

#primary.darklight #menu .major #menu3.selected {
	background: rgba(254,255,153,1.00) url(../images/icon_home_eat-dk.png) 166px 15px no-repeat;
}

#primary.darklight #menu .major #menu4.selected {
	background: rgba(254,255,153,1.00) url(../images/icon_home_relax-dk.png) 210px 15px no-repeat;
}

#primary.darklight #menu .major #menu5.selected {
	background: rgba(254,255,153,1.00) url(../images/icon_home_tv-dk.png) 160px 10px no-repeat
}

#primary.darklight #menu .minor .menu-group {
	background: rgba(192,200,202,0.95);
	border: 8px solid rgba(1,49,63,1.00);
}

#primary.darklight #menu .minor .menu-group a {
    color: rgba(4,53,70,1.00);
}

#primary.darklight #menu .minor .menu-group a.active {
	background : rgba(254,255,153,1.00);
}

