.page.recoverydetail {
	background-color: rgba(0,138,175, 1.00);
}
.page.recoverydetail .background {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
    background-color: rgba(0,138,175, 1.00); /*added*/
}
.page.recoverydetail .page-title {
	left: 0px;
	top: 124px;
	width: 510px;
	height: 70px;
	z-index: 1;

	text-align: left;
	padding-left: 80px;
	padding-top: 8px;
	letter-spacing: 1px;
	color: #FCFCFC;
	line-height: 72px;
	background-size: cover;
	font-weight: bold;
	font-size: 44px;
}

.page.recoverydetail .page-title {
	background: rgba(141,198,60,1.00) url(../images/icon_home_about.png) 494px 10px no-repeat;
}

.page.recoverydetail #header {
	width: 100%;
	height: 194px;
	position: absolute;
	background-color: ##008aaf;
	border-bottom: 10px solid #8DC444;
}

.page.recoverydetail #header #heading1 {
    height: 100px;
    top: 70px;
    right: 58px;	
    position: absolute;
    display: inline-block;
    float: left;
}

.page.recoverydetail #header #heading1 p {
	color: #FBFBFC;
	text-align: right;
	font-size: 28px;
	line-height: 40px;
}

.page.recoverydetail #header #heading2 {
	width: 556px;
	height: 58px;
	top: 162px;
	left: 60px;
	position: absolute;
	float: left;
	z-index: 1;
	/*border: 4px solid rgba(240,244,245,1.00);
    background: #94b329;
	background: -webkit-linear-gradient(#94b329, #4c7401);
	border-radius: 12px;*/
	background-color: #559CBE;
	box-shadow: 1px 4px 8px 0px #353535;	
}	

.page.recoverydetail #header #heading2 p {
	color: #F0F4F5;
	text-align: center;
	font-size: 28px;
	padding-top: 14px;
	font-weight: 600;

}

.page.recoverydetail #header #moviename {
    height: 100px;
    top: 341px;
    left: 109px;	
    position: absolute;
    display: inline-block;
    float: left;
    width: 456px;
    z-index: 2;
}

.page.recoverydetail #header #moviename p {
    color: #FFFFFF;
	font-size: 36px;
	font-weight: bold;
}

.page.recoverydetail #header #moviename p.duration {
   padding-top: 30px; 
   font-size: 32px;
}

.page.recoverydetail #content {
	width: 100%;
	height: 516px;
	top: 204px;
	position: absolute;
	left: 0px;
	/*background: url(../images/bk_default2.jpg) top left no-repeat;*/
	background-color: ##008aaf;	
}

.page.recoverydetail #menu {
	width: 100%;
	height: 100%;
}

.page.recoverydetail #menu .major {
	position: absolute;
	width: 550px;
	height: 470px;
	left: 0px;
	top: 0px;
	padding: 35px 0 0 0;
	background-color: #3B3B3B;
	border-left: 40px solid #8DC444;
}

.page.recoverydetail #menu .major a {
	position: relative;
	display: block;
	top: 210px;
	height: 42px;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 40px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: .5px;
}

.page.recoverydetail #menu .major a.back-button {
	/*  position: absolute;
    width: 292px;*/
	font-size: 30px;
	top: 0px;
	text-align: left;
	margin-bottom: 20px;
	/*background-color: rgba(84,159,195,0.50);*/
	/*border-radius: 8px;*/

}
.page.recoverydetail #menu .major a.selected {
	background-color: #8DC444;
	text-shadow: 2px 2px 4px rgba(30,30,30, .60);
}

.page.recoverydetail #menu .minor {
	position: absolute;
	width: 656px;
	height: 420px;
	top: 0px;
	left: 590px;
}

.page.recoverydetail #menu .minor .arrow-button {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 381px;
	border-radius: 30px;
	margin: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

.page.recoverydetail #menu .minor .arrow-button.sub-page-prev {
	left: -19px;
}

.page.recoverydetail #menu .minor .arrow-button.sub-page-next {
	right: 30px;
}

.page.recoverydetail #menu .minor .arrow-button:hover {
	opacity: 1;
	cursor: pointer;
}

.page.recoverydetail #menu .minor .arrow-left {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.page.recoverydetail #menu .minor .arrow-right {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -5px;
}


.page.recoverydetail #menu .minor .back-tab {
	position: absolute;
	display: none;
}

.page.recoverydetail #menu .minor .back-tab img {
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
}

.page.recoverydetail #menu .minor .menu-tab {
	position: absolute;
	display: none;
	width: 610px;
}

.page.recoverydetail #menu .minor .sub-page {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

.page.recoverydetail #menu .minor .sub-header {
	margin-top: -20px;
	height: 30px;
	color: rgba(189,239,254,1.00);
	/*color: #FFFF92;*/
}

.page.recoverydetail #menu .minor .sub-footer {
	position: relative;
	height: 50px;
	color: #C0DDA3;
	text-align: center;
	top: -60px;
	left: -20px;
	text-shadow: 2px 2px 6px #000000;

}

.page.recoverydetail #menu .minor .sub-content {
    margin-top: 0px;
	left: 0px;
    height: 515px;
    width: 693px;
    overflow: hidden;
    position: relative;
}

.page.recoverydetail #menu .minor .sub-content p {
    margin-bottom: 15px;
    line-height: 32pt;
}

.page.recoverydetail #menu .minor .sub-content .sub-image1 img
,.page.recoverydetail #menu .minor .sub-content .sub-image2 img {
	width: 100%;
	height: 100%;
}


/* Layout 7, EDUCATION LIBRARY */
.page.recoverydetail #menu .minor .sub-content.layout7 {	
}

.page.recoverydetail #menu .minor .sub-content.layout7 .sub-text1{
	display: inline-block;
	width: 90%;
	height: 415px;
	font-size: 42px;		
	overflow-y: auto;    
	overflow-x: hidden;	
}

.page.recoverydetail #menu .minor .sub-content.layout7 .sub-text2{
	display: inline-block;
	width: 100%;
	padding-top: 0px;	
}

.page.recoverydetail #menu .minor .sub-content.layout7 .sub-image1{
	width: 32px;
	height: 32px;
	margin-top: -26px;
	margin-right: 0;
	margin-left: 30px;
	margin-bottom: 0;
}

.page.recoverydetail #menu .minor .sub-content.layout7 .sub-image2{
	display: none;
}

.page.recoverydetail #menu .minor .sub-content.layout7 .sub-text1 a {
	width: 550px;
	height: 42px;
	font-size: 38px;
	line-height: 42px;
	padding-left: 35px;
	margin: 10px 0;
	display: block;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
	border-radius: 8px;   
	overflow: hidden;
}

.page.recoverydetail #menu .minor .sub-content.layout7 .sub-text1 a.bookmarked {    
	background: url(../images/checkmark.png) top left no-repeat;
}

.page.recoverydetail #menu .minor .sub-content.layout7 .sub-text1 a.bookmarked.active {    
	background: url(../images/checkmark.png) top left no-repeat;
	background-color: rgba(211,96,18,1.00);
}


/* Layout 5, text overlays image */
.page.recoverydetail #menu .minor .sub-content.layout5 {
	
}

.page.recoverydetail #menu .minor .sub-content.layout5 .sub-text1{
	display: block;
	position: absolute;
	height: 225px;
	width: 760px;
	top: 0px;
	left: 10px;
	padding: 15px;
	z-index: 1;
	background: rgba(0,0,0,0);
}

.page.recoverydetail #menu .minor .sub-content.layout5 .sub-text2{
	display: none;
}

.page.recoverydetail #menu .minor .sub-content.layout5 .sub-image1{
	width: 100%;
	height: 100%;
	opacity: 0.1;
}

.page.recoverydetail #menu .minor .sub-content.layout5 .sub-image2{
	display: none;
}





/* secondary.noimages */

.page.recoverydetail.noimages #background {
	display: none;
}

.page.recoverydetail.noimages .minor .sub-content .sub-image1 img	{
	display: none;
}

.page.recoverydetail.noimages .minor .sub-content .sub-image2 img	{
	display: none;
}


/* secondary.lightdark */

.page.recoverydetail.lightdark  {
	background: url(../images/bk2-dk_secondlevel.jpg) top center no-repeat;
}

.page.recoverydetail.lightdark .page-title { 
	background-color: transparent;
}

.page.recoverydetail.lightdark  #header {	
	border-bottom: 10px rgba(69,86,96,1.00);
}

.page.recoverydetail.lightdark  #menu .major { 	
	border-left: 40px solid rgba(69,86,96,1.00);
}

.page.recoverydetail.lightdark #menu .major a.selected {
    background-color: rgba(0,138,175,1.00);
}

#recovery .lightdark #selections a.active	{
	background: rgba(0,138,175,1.00);
}



/* secondary.lightdark */

.page.recoverydetail.Lightdark {
	background: url(../images/bk2-dk_secondlevel.jpg) top center no-repeat;
}

.page.recoverydetail.lightdark .page-title { 
	background-color: transparent;
}

.page.recoverydetail.lightdark  #header {	
	border-bottom: 10px rgba(69,86,96,1.00);
}

.page.recoverydetail.lightdark  #menu .major { 	
	border-left: 40px solid rgba(69,86,96,1.00);
}

.page.recoverydetail.lightdark #menu .major a.selected {
    background-color: rgba(0,138,175,1.00);
}

.page.recoverydetail.tv.lightdark {
	background: url(../images/bk2-dk_movies.jpg) top center no-repeat;
}

.page.recoverydetail.lightdark #selections a.active	{
	background: rgba(0,138,175,1.00);
}

/* secondary.darklight */

.page.recoverydetail.darklight {
	background: url(../images/bk3-lt_secondlevel.jpg) top center no-repeat;
}

.page.recoverydetail.tv.darklight {
	background: url(../images/bk3-lt_movies.jpg) top center no-repeat;
}

.page.recoverydetail.darklight  .page-title { 
	background-color: transparent;
	color: rgba(68,85,95,1.00);
}

.page.recoverydetail.darklight  #header {	
	border-bottom: 10px rgba(69,86,96,1.00);
}

.page.recoverydetail.darklight  #menu .major { 	
	background-color: transparent;	
	border-left: 40px solid rgba(254,255,153,1.00);
}

.page.recoverydetail.darklight  #menu .major  a{ 	
    color: rgba(68,85,95,1.00);
}
	
.page.recoverydetail.darklight #menu .major a.selected {
    background: rgba(254,255,153,1.00);
}

.page.recoverydetail.tv.darklight {
	background: url(../images/bk2-dk_movies.jpg) top center no-repeat;
}

.page.recoverydetail.darklight #selections a.active	{
	background: rgba(0,138,175,1.00);
}


/*TAB COLORS*/
.page.recoverydetail.About.darklight .page-title {
	background-color: transparent;
	color: rgba(68,85,95,1.00);
	background: url(../images/icon_home_about-dk.png) 494px 10px no-repeat;
}
.page.recoverydetail.Learn .darklight .page-title {
	background-color: transparent;
	color: rgba(68,85,95,1.00);
	background: url(../images/icon_home_care-dk.png) 494px 6px no-repeat;
}
.page.recoverydetail.Eat.page.darklight .page-title {
	background-color: transparent;
	color: rgba(68,85,95,1.00);
	background: url(../images/icon_home_eat-dk.png) 494px 10px no-repeat;
}
.page.recoverydetail.Relax.darklight .page-title {
	background-color: transparent;
	color: rgba(68,85,95,1.00);
	background: url(../images/icon_home.Relax-dk.png) 494px 10px no-repeat;
}
.page.recoverydetail.Fun.darklight .page-title {
	background-color: transparent;
	color: rgba(68,85,95,1.00);
	background: url(../images/icon_home_tv-dk.png) 494px 10px no-repeat;
}

.page.recoverydetail.darklight #header #heading1 p	{
	color: rgba(68,85,95,1.00);
}

.page.recoverydetail.darklight #header p span	{
	color: rgba(23,62,89,1.00);
}

.page.recoverydetail.darklight #menu .sub-text1 ,
.page.recoverydetail.darklight #menu .sub-text1 p, 
.page.recoverydetail.darklight #menu .sub-text1  a,
.page.recoverydetail.darklight #menu .sub-text1  span,
.page.recoverydetail.darklight #menu .sub-text2,
.page.recoverydetail.darklight #menu .sub-text2 p, 
.page.recoverydetail.darklight #menu .sub-text2 a ,
.page.recoverydetail.darklight #menu .sub-text1  span,
.page.recoverydetail.darklight #menu .minor .sub-footer,
.page.recoverydetail.darklight #menu .major .menucolumntext,
.page.recoverydetail.darklight #menu .minor .pageheading,
.page.recoverydetail.darklight #menu .minor .pageheading p,
.page.recoverydetail.darklight #menu .minor .pageheading a,
.page.recoverydetail.darklight #menu .minor .pageheading span,
.page.recoverydetail.darklight #menu .minor .pageheading span1,
.page.recoverydetail.darklight #menu .minor .pageheading span2 {   
	color: rgba(23,62,89,1.00);
}