.page.secondary {
	background-color: rgba(0,138,175, 1.00);
}

.page.secondary .background {
    width: 1280px;
    height: 720px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,138,175, 1.00); /*added*/
}
#watchtv.watchtv  {
    width: 1280px;
    height: 720px;
    margin: 0;
    padding: 0;
    background: url(../images/simulate_epg_tv.jpg) top left no-repeat;
}
.Music.music  {
    width: 1280px;
    height: 720px;
    margin: 0;
    padding: 0;
    background: url(../images/simulate_epg_music.jpg) top left no-repeat;
}
.page.secondary .page-title {
	left: 0px;
	top: 124px;
	width: 510px;
	height: 70px;
	z-index: 1;
	text-align: left;
	padding-left: 80px;
	padding-top: 8px;
	letter-spacing: 1px;
	color: #FCFCFC;
	line-height: 72px;
	background-size: cover;
	font-weight: bold;
	font-size: 44px;

}


/*TAB COLORS*/
.About.page.secondary .page-title {
	background: rgba(141,198,60,1.00) url(../images/icon_home_about.png) 494px 10px no-repeat;
	background-size: 62px 62px;
}

.About.page.secondary.therapeuticrecreation .page-title    {
  font-size: 34px;
}

.Learn.page.secondary .page-title {
	background: rgba(69,85,96,1.00) url(../images/icon_home_care.png) 494px 6px no-repeat;
	background-size: 62px 62px;
}
.Eat.page.secondary .page-title {
	background: rgba(245,128,37,1.00) url(../images/icon_home_eat.png) 485px 10px no-repeat;
	background-size: 62px 62px;
}
.Relax.page.secondary .page-title {
	background: rgba(255,208,6,1.00) url(../images/icon_home.Relax-dk.png) 494px 10px no-repeat;
	background-size: 62px 62px;
}
.Fun.page.secondary .page-title {
	background: rgba(120,29,126,1.00) url(../images/icon_home_tv.png) 494px 10px no-repeat;
	background-size: 62px 62px;
}

.About.page.secondary #header {
	width: 100%;
	height: 194px;
	position: absolute;
	/*background: url(../images/bk_secondary_gradient.png) top left no-repeat;*/
	background-color: ##008aaf;
	border-bottom: 10px solid #8DC444;
}
.Learn.page.secondary #header {
	width: 100%;
	height: 194px;
	position: absolute;
	background-color: ##008aaf;
	border-bottom: 10px solid #445760;
}
.Eat.page.secondary #header {
	width: 100%;
	height: 194px;
	position: absolute;
	background-color: ##008aaf;
	border-bottom: 10px solid #f5812c;
}
.Relax.page.secondary #header {
	width: 100%;
	height: 194px;
	position: absolute;
	background-color: ##008aaf;
	border-bottom: 10px solid #ffd006;
}
.Fun.page.secondary #header {
	width: 100%;
	height: 194px;
	position: absolute;
	background-color: ##008aaf;
	border-bottom: 10px solid #781d7d;
}

.page.secondary #header #heading1 {
    height: 100px;
    top: 70px;
    right: 58px;	
    position: absolute;
    display: inline-block;
    float: left;
}

.page.secondary #header #heading1 p {
	color: #FBFBFC;
	text-align: right;
	font-size: 28px;
	line-height: 40px;
}

.page.secondary #header #heading2 {
    height: 100px;
    top: 120px;
    right: 58px;	
    position: absolute;
    display: inline-block;
    float: left;
}

.page.secondary #header #heading2 p {
	color: #FFFF66;
	text-align: right;
	font-weight: bold;
	font-size: 36px;
	line-height: 40px;
}

div.datetime {
    width: 520px;
    height: 30px;
    top: 30px;
    right: 44px;
    position: absolute;
    display: inline-block;
    text-align: right;
}

div.datetime p {
	line-height: 28px;
	color: #FDFDFD;
	font-weight: 700;
	font-size: 26px;
}

.page.secondary #content {
	width: 100%;
	height: 516px;
	top: 204px;
	position: absolute;
	left: 0px;
	/*background: url(../images/bk_default2.jpg) top left no-repeat;*/
	background-color: ##008aaf;
	
	
}

.page.secondary #menu {
    width: 100%;
    height: 100%;
}
.About.page.secondary #menu .major {
	position: absolute;
	width: 550px;
	height: 486px;
	left: 0px;
	top: 0px;
	padding: 35px 0 0 0;
	background-color: #3B3B3B;
	border-left: 40px solid #8DC444;
	/*background-color: rgba(31, 87, 112, 1.0);*/

}
.Learn.page.secondary #menu .major {
	position: absolute;
	width: 550px;
	height: 486px;
	left: 0px;
	top: 0px;
	padding: 35px 0 0 0;
	background-color: #3B3B3B;
	border-left: 40px solid #445760;
	
}
.Eat.page.secondary #menu .major {
	position: absolute;
	width: 550px;
	height: 486px;
	left: 0px;
	top: 0px;
	padding: 35px 0 0 0;
	background-color: #3B3B3B;
	border-left: 40px solid #f5812c;
	
}
.Relax.page.secondary #menu .major {
	position: absolute;
	width: 550px;
	height: 486px;
	left: 0px;
	top: 0px;
	padding: 35px 0 0 0;
	background-color: #3B3B3B;
	border-left: 40px solid #ffd006;
	
}
.Fun.page.secondary #menu .major {
	position: absolute;
	width: 550px;
	height: 486px;
	left: 0px;
	top: 0px;
	padding: 35px 0 0 0;
	background-color: #3B3B3B;
	border-left: 40px solid #781d7d;
	
}
.page.secondary #menu .major a {
	position: relative;
	display: block;
	height: 42px;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 40px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: .5px;
}

/*  For Care Team Navigation Menu...*/

.About.careteam.page.secondary #menu .major {
	position: absolute;
	width: 550px;
	height: 486px;
	left: 0px;
	top: 0px;
	padding: 35px 0 0 0;
	background-color: #3B3B3B;
	border-left: 40px solid #8DC444;
	/*background-color: rgba(31, 87, 112, 1.0);*/
}
.About.careteam.page.secondary #menu .major a {
	position: relative;
	display: block;
	height: 38px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 40px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 1px;
}
.About.careteam.page.secondary #menu .major a.back-button {
	font-size: 30px;
	top: 5px;
	text-align: left;
	margin-bottom: 10px;
}

.About.page.secondary #menu .major2 a.selected {
	background-color: #8DC444;	
}

.Learn.page.secondary #menu .major a.selected {
	background-color: #008aaf;	
}
.Eat.page.secondary #menu .major a.selected {
	background-color: #f5812c;	
}
.Relax.page.secondary #menu .major a.selected {
	background-color: #ffd006;	
}
.Fun.page.secondary #menu .major a.selected {
	background-color: #781d7d;	
}
/*  END of Care Team Navigation Menu...*/

/*  For Hospital Directory text...*/
.About.page.secondary #menu .major .menucolumntext {
	position: absolute;
	width: 450px;
	height: 486px;
	left: 0px;
	top: 200px;
	line-height: 30px;
	padding-top: 35px;
	padding-right: 0;
	padding-left: 40px;
	padding-bottom: 0;	
}
.About.page.secondary #menu .major .menucolumntext p {
	line-height: 38px;	
}

/*  For EAT-Constitution Cafe text...*/
.Eat.page.secondary #menu .major .menucolumntext {
	position: absolute;
	width: 450px;
	height: 6px;
	left: 0px;
	top: 100px;
	padding-top: 0px;
	padding-right: 0;
	padding-left: 40px;
	padding-bottom: 0;	
}
.Eat.page.secondary #menu .major .menucolumntext p {
	font-size: 40px;	
}


.page.secondary #menu .major a.back-button {
	/*  position: absolute;
    width: 292px;*/
	font-size: 30px;
	top: 0px;
	text-align: left;
	margin-bottom: 20px;
	/*background-color: rgba(84,159,195,0.50);*/
	/*border-radius: 8px;*/
}

.About.page.secondary #menu .major a.selected {
	background-color: #8DC444;
}

.page.secondary #menu .minor {
	position: absolute;
	width: 656px;
	height: 420px;
	top: 0px;
	left: 600px;
}

.page.secondary #menu .minor .arrow-button {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 440px;
    border-radius: 30px;
    margin: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.0);
}

.page.secondary #menu .minor .arrow-button.sub-page-prev {
    left: -12px;
}

.page.secondary #menu .minor .arrow-button.sub-page-next {
    right: 0px;
}

.page.secondary #menu .minor .arrow-button:hover {
    opacity: 1;
    cursor: pointer;
}

.page.secondary #menu .minor .arrow-left {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -15px;
}

.page.secondary #menu .minor .arrow-right {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 0px;
}

.page.secondary #menu .minor .back-tab {
    position: absolute;
    display: block;
}

.page.secondary #menu .minor .back-tab img {
    width: 100%;
    height: 100%;
    /*margin: 40px 0px 0px 25px;*/
	margin: 0px 0px 0px 0px;
}

.page.secondary #menu .minor .menu-tab {
    position: absolute;
    display: none;
    width: 680px;
}

.page.secondary #menu .minor .sub-page {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.page.secondary #menu .minor .sub-header {
    top: 420px;
	margin-top: 0px;
    height: 0px;
    color: rgba(189, 239, 254, 1.00);
    padding-left: 18px; /*color: #FFFF92;*/
}

.page.secondary #menu .minor .sub-footer {
    position: absolute;
    height: 40px;
	width: 600px;
    color: #FFFF66;
    text-align: center;
	top: 460px;
    left: 30px;
	font-size: 28px;
}

.page.secondary #menu .minor .sub-content {
    margin-top: 0px;
	left: -12px;
    height: 515px;
    width: 693px;
    overflow: hidden;
    position: relative;
}

.page.secondary #menu .minor .sub-content p {
    margin-bottom: 0px;
    line-height: 32pt;
}


.page.secondary #menu .minor .sub-content .sub-image1 img, .page.secondary #menu .minor .sub-content .sub-image2 img {
    width: 100%;
    height: 100%;
}

/* Layout 1, text only */
.page.secondary #menu .minor .sub-content.layout1 {

}

.page.secondary #menu .minor .sub-content.layout1 .sub-text1 {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-left: 15px;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-text2 {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-image1 {
    display: none;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-image2 {
    display: none;
}

/* Layout 2, text and text side by side */
.page.secondary #menu .minor .sub-content.layout2 {

}

.page.secondary #menu .minor .sub-content.layout2 .sub-text1 {
    display: block;
    position: absolute;
    width: 560px;
	top: 20px;
    left: 20px;
    padding: 15px;
    z-index: 3;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-text2 {
    display: block;
	position: absolute;
    width: 250px;
    margin-top: 188px;
	margin-left: 330px;
    padding: 15px;
    z-index: 2;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-image1 {
    width: 100%;
    height: 100%;
    opacity: 0.1;
	z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-image2 {
    display: none;
}


/* Layout 3, text and image aligns vertically */
.page.secondary #menu .minor .sub-content.layout3 {

}

.page.secondary #menu .minor .sub-content.layout3 .sub-text1 {
    float: none;
    height: 210px;
    width: 720px;
    padding-top: 20px;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-text2 {
    display: none;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-image1 {
    float: none;
    height: 220px;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-image2 {
    display: none;
}

/* Layout 4, text 1 on top, text 2 and image at bottom */
.page.secondary #menu .minor .sub-content.layout4 {

}

.page.secondary #menu .minor .sub-content.layout4 .sub-text1 {
    display: block;
    float: none;
    height: 220px;
    padding-top: 20px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-text2 {
    float: left;
    width: 500px;
    height: 200px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-image1 {
    float: left;
    width: 240px;
    height: 200px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-image2 {
    display: none;
}

/* Layout 5, text overlays image */
.page.secondary #menu .minor .sub-content.layout5 {

}

.page.secondary #menu .minor .sub-content.layout5 .sub-text1 {
    display: block;
    position: absolute;
    height: 525px;
    width: 610px;
    top: 20px;
    left: 20px;
    padding: 15px;
    z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-text2 {
    display: none;
    /*position: absolute;
    height: 40px;
    width: 300px;
    top: 490px;
    left: 586px;
    padding: 0px;
    z-index: 1;*/
}

.page.secondary #menu .minor .sub-content.layout5 .sub-image1 {
    width: 100%;
    height: 100%;
	/*width: 693px;
	height: 515px;*/
    opacity: 0.1;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-image2 {
    display: none;
}

/* Layout 6, ONLY an image (back button) */
.page.secondary #menu .minor .sub-content.layout6 {

}

.page.secondary #menu .minor .sub-content.layout6 .sub-text1 {
    display: none;
}

.page.secondary #menu .minor .sub-content.layout6 .sub-text2 {
    display: none;
}

.page.secondary #menu .minor .sub-content.layout6 .sub-image1 {
    width: 100%;
    height: 100%;
	z-index: 5;
}

.page.secondary #menu .minor .sub-content.layout6 .sub-image2 {
    display: none;
}


/* Layout 7, Text with Menu return text on bottom */
.page.secondary #menu .minor .sub-content.layout7 {

}

.page.secondary #menu .minor .sub-content.layout7 .sub-text1 {
    /*display: none;*/
    display: block;
    position: absolute;
    height: 225px;
    width: 580px;
    top: 20px;
    left: 30px;
    padding: 15px;
    z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout7 .sub-text2 {
    display: block;
    position: absolute;
    height: 40px;
    width: 300px;
    top: 490px;
    left: 586px;
    padding: 0px;
    z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout7 .sub-image1 {
    display: none;
}

.page.secondary #menu .minor .sub-content.layout7 .sub-image2 {
    display: none;
}
/* Layout 8 - HOSP DIRECTORY, 2 text blocks side by side WITH PAGE # in HEADING*/
.page.secondary #menu .minor .sub-content.layout8 {
    top: -120px;
	margin-top: 0px;
	left: -12px;
    height: 550px;
    width: 680px;
    /*overflow: hidden;*/
    position: absolute;
}
.page.secondary #menu .minor .sub-content.layout8 .pageheading {
    /*display: block;*/
    position: absolute;
    height: 50px;
    width: 600px;
    top: 25px;
    right: 40px;
	text-align: right;
    padding: 10px;    
}

.page.secondary #menu .minor .sub-content.layout8 .pageheading .columnheader{
    text-align: left;     
	color: #FFFF66;
	padding-bottom: 10px
}

.page.secondary #menu .minor .sub-content.layout8 .sub-text1 {
    display: block;
    position: absolute;
    height: 245px;
    width: 600px;
    top: 120px;
    left: 20px;
    padding: 15px;
    z-index: 1;
}


.page.secondary #menu .minor .sub-content.layout8 .sub-text1 p span1 {	
	width: 75%;
    float: left;    
}	

.page.secondary #menu .minor .sub-content.layout8 .sub-text1 p span2 {	
	width: 25%;
    float: right;
    text-align: right;
}	

.page.secondary #menu .minor .sub-content.layout8 .sub-text2 {
    display: block;	
    float: right;
    position: absolute;
    left: 544px;
    width: 100px;
    top: 120px;
	padding-top: 15px;
    /*padding-left: 0px;*/
    z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout8 .sub-image1 {
	display: none;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	margin-top: 120px;
}

.page.secondary #menu .minor .sub-content.layout8 .sub-image2 {
    display: none;
}
/* Layout 9 - MEDICAL STAFF, 1 text block WITH PAGE # in HEADING*/
.page.secondary #menu .minor .sub-content.layout9 {
    top: -120px;
	margin-top: 0px;
	left: -12px;
    height: 550px;
    width: 680px;
    /*overflow: hidden;*/
    position: absolute;
}
.page.secondary #menu .minor .sub-content.layout9 .pageheading {
    /*display: block;*/
    position: absolute;
    height: 50px;
    width: 600px;
    top: 65px;
    right: 40px;
	text-align: right;
    padding: 10px;    
}


.page.secondary #menu .minor .sub-content.layout9 .sub-text1 {
	display: block;
	position: absolute;
	height: 420px;
	width: 620px;
	top: 130px;
	left: 20px;
	padding: 15px;
	z-index: 1;
}
.page.secondary #menu .minor .sub-content.layout9 .sub-text1 p {
	font-size: 30px;
	line-height: 36px;
}
.page.secondary #menu .minor .sub-content.layout9 .sub-text2 {
    display: none;
}

.page.secondary #menu .minor .sub-content.layout9 .sub-image1 {
	display: none;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	margin-top: 120px;
}

.page.secondary #menu .minor .sub-content.layout9 .sub-image2 {
    display: none;
}


/* secondary.noimages */

#secondary.noimages #background {
	display: none;
}

#secondary.noimages .minor .sub-content .sub-image1 img	{
	display: none;
}

#secondary.noimages .minor .sub-content .sub-image2 img	{
	display: none;
}

/* secondary.lightdark */

#secondary.lightdark {
	background: url(../images/bk2-dk_secondlevel.jpg) top center no-repeat;
}

#secondary.lightdark .page-title { 
	background-color: transparent;
}

#secondary.lightdark  #header {	
	border-bottom: 10px rgba(69,86,96,1.00);
}

#secondary.lightdark  #menu .major { 	
	border-left: 40px solid rgba(69,86,96,1.00);
}

#secondary.lightdark #menu .major a.selected {
    background-color: rgba(0,138,175,1.00);
}

#secondary.tv.lightdark {
	background: url(../images/bk2-dk_movies.jpg) top center no-repeat;
}

#secondary.lightdark #selections a.active	{
	background: rgba(0,138,175,1.00);
}

/* secondary.darklight */

#secondary.darklight {
	background: url(../images/bk3-lt_secondlevel.jpg) top center no-repeat;
}

#secondary.tv.darklight {
	background: url(../images/bk3-lt_movies.jpg) top center no-repeat;
}

#secondary.darklight  .page-title { 
	background-color: transparent;
	color: rgba(68,85,95,1.00);
}

#secondary.darklight  #header {	
	border-bottom: 10px rgba(69,86,96,1.00);
}

#secondary.darklight  #menu .major { 	
	background-color: transparent;	
	border-left: 40px solid rgba(254,255,153,1.00);
}

#secondary.darklight  #menu .major  a{ 	
    color: rgba(68,85,95,1.00);
}
	
#secondary.darklight #menu .major a.selected {
    background: rgba(254,255,153,1.00);
}

#secondary.tv.darklight {
	background: url(../images/bk2-dk_movies.jpg) top center no-repeat;
}

#secondary.darklight #selections a.active	{
	background: rgba(0,138,175,1.00);
}


/*TAB COLORS*/
#secondary.About.darklight .page-title {
	background-color: transparent;
	color: rgba(68,85,95,1.00);
	background: url(../images/icon_home_about-dk.png) 494px 10px no-repeat;
}
#secondary.Learn .darklight .page-title {
	background-color: transparent;
	color: rgba(68,85,95,1.00);
	background: url(../images/icon_home_care-dk.png) 494px 6px no-repeat;
}
#secondary.Eat.page.darklight .page-title {
	background-color: transparent;
	color: rgba(68,85,95,1.00);
	background: url(../images/icon_home_eat-dk.png) 494px 10px no-repeat;
}
#secondary.Relax.darklight .page-title {
	background-color: transparent;
	color: rgba(68,85,95,1.00);
	background: url(../images/icon_home.Relax-dk.png) 494px 10px no-repeat;
}
#secondary.Fun.darklight .page-title {
	background-color: transparent;
	color: rgba(68,85,95,1.00);
	background: url(../images/icon_home_tv-dk.png) 494px 10px no-repeat;
}

#secondary.darklight #header #heading1 p	{
	color: rgba(68,85,95,1.00);
}

#secondary.darklight #header p span	{
	color: rgba(23,62,89,1.00);
}

#secondary.darklight #menu .sub-text1 ,
#secondary.darklight #menu .sub-text1 p, 
#secondary.darklight #menu .sub-text1  a,
#secondary.darklight #menu .sub-text1  span,
#secondary.darklight #menu .sub-text2,
#secondary.darklight #menu .sub-text2 p, 
#secondary.darklight #menu .sub-text2 a ,
#secondary.darklight #menu .sub-text2  span,
#secondary.darklight #menu .minor .sub-footer,
#secondary.darklight #menu .major .menucolumntext,
#secondary.darklight #menu .minor .pageheading,
#secondary.darklight #menu .minor .pageheading p,
#secondary.darklight #menu .minor .pageheading a,
#secondary.darklight #menu .minor .pageheading span,
#secondary.darklight #menu .minor .pageheading span1,
#secondary.darklight #menu .minor .pageheading span2 {   
	color: rgba(23,62,89,1.00);
}